.fixture-team {
        flex: 0 1 200px;
        min-width: 200px;
        padding: 10px;
        text-align: right;
        border-top: 1px solid #777;
        border-left: 1px solid #777;
        border-bottom: 1px solid #777;
        height: 50px; 
        box-sizing: border-box;
        background-color: #fff ;
}

.fixture-team .name{
        margin:0;
}

.fixture-team .info{
          margin:0;
          font-size: 12px; 
}