.fixture-entity {
     flex: 0 0 44px;
    min-width: 44px;
    height: 40px;
    box-sizing: border-box;
    border-top: 1px solid #777;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    position: relative;
}
.fixture-entity:hover {
        border: 3px solid #666;
}

.fixture-entity:first-child {
    border-left: 1px solid #777;
}

.fixture-entity .hider {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #888;
    
}

.teamtext{
    color: white; 
    
}